<!--<form class="loginForm">
	<h2>Login</h2>
	<input id="username" type="text" placeholder="Username" required>
	<input id="password" type="password" placeholder="Password" required>
	<button (click)="onSubmit()">Login</button>
</form>	-->

<div class="imageBluredBackground"></div>
<div class="container">
	<section class="form-section loginForm">
	  <img class="logo" width="40px" height="40px" src="../../assets/logo.jpeg" alt="face recognition"/>
	  <h1>Login to system</h1>
	  <p>This is login to face recognition app, please enter your username and password</p>
	  <form>
		<fieldset>
		  <!--<label>Email address</label>-->
		  <input id="username" type="text" placeholder="Username" required/>
		</fieldset>
		<fieldset>
		  <!--<label>Password</label>-->
		  <input id="password" type="password" placeholder="Password" required/>
		</fieldset>
		<button (click)="onSubmit()"> Login</button>
	  </form>
	</section>
	<section class="description-section">
	  <h2>Welcome to <br> Face Recognition App</h2>
	</section>
</div>